body{
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    height: 40px; 
    width: 40px;
    margin-top: 9px;
}


.create-btn {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 24px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #cc001e; 

}

.create-btn:hover {
    background-color: #f0f0f0; 
}


.board-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.board-form p {
    margin-bottom: 15px;
    margin-right: 20px;
}

.board-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.board-form input,
.board-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.board-form textarea {
    resize: vertical;
    min-height: 100px;
}


.btn {
    padding: 10px 20px;
    background-color: #cc001e;;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #cc001f;
}

.create-board-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; 
    margin: 10px auto; 
    padding: 12px 20px;
    background-color: #cc001e;;
    color: white;
    text-decoration: none;
    border-radius: 24px;
    transition: background-color 0.3s;
}